@import '~styles/library/library';

.header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: var(--z-index-header);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 9rem 3rem 0;
}
.logo {
	width: 10rem;
	height: 5.1rem;
	position: absolute;
	@include centered(true,false);
	top: 3rem;

	img {
		width: 100%;
		height: 100%;
	}
}
.dealer {
	display: flex;
	align-items: center;

	svg {
		margin-left: 1.5rem;
	}
}
.location {
	width: 2rem;
	height: 2.7rem;
}