.footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: var(--z-index-content);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 9rem 3rem;
}
.language {
	text-transform: uppercase;

	&:after {
		content: '+';
		display: inline-block;
		margin-left: .5rem;
	}
}
