
@font-face {
  font-family: 'avrile-sans';
  src: url('~assets/fonts/avrile-sans/avrilesans-regular-webfont.eot');
  src: url('~assets/fonts/avrile-sans/avrilesans-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('~assets/fonts/avrile-sans/avrilesans-regular-webfont.woff2') format('woff2'),
       url('~assets/fonts/avrile-sans/avrilesans-regular-webfont.woff') format('woff'),
       url('~assets/fonts/avrile-sans/avrilesans-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'avrile-sans';
  src: url('~assets/fonts/avrile-sans/avrilesans-medium-webfont.eot');
  src: url('~assets/fonts/avrile-sans/avrilesans-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('~assets/fonts/avrile-sans/avrilesans-medium-webfont.woff2') format('woff2'),
       url('~assets/fonts/avrile-sans/avrilesans-medium-webfont.woff') format('woff'),
       url('~assets/fonts/avrile-sans/avrilesans-medium-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'avrile-sans';
  src: url('~assets/fonts/avrile-sans/avrilesans-bold-webfont.eot');
  src: url('~assets/fonts/avrile-sans/avrilesans-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('~assets/fonts/avrile-sans/avrilesans-bold-webfont.woff2') format('woff2'),
       url('~assets/fonts/avrile-sans/avrilesans-bold-webfont.woff') format('woff'),
       url('~assets/fonts/avrile-sans/avrilesans-bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}