html {
	font-size: 10px;

	
	@include mq_max($xxlg) {
		font-size: 8px;
	}
	@include mq_max($xlg) {
		font-size: 7px;
	}
}
body {
	font-family: var(--font-family-main);
	font-size: var(--font-size-md);
	font-weight: var(--font-weight-normal);
	color: var(--color-white);
}
.page {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	z-index: var(--z-index-content);
	display: flex;
	align-items: center;
	overflow: hidden;
}

:global {
  .global-class-name {
    color: green;
  }
}
